/*DESKTOP/larger screens*/
@media (min-width: 768 px) {
  .pagecontainer {
    display: flex;
    flex-direction: column;
    margin: 2%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
  }

  header {
    flex-shrink: 0;
  }

  img {
    max-width: 250px;
    height: auto;
    width: auto;
  }
}

  /*MOBILE first*/
  .pagecontainer {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 0rem;
  }

/*setting body limits*/
  body {
    width: 100%;
    height: 100%;
  }

  /*formatting for text info*/
  h1 {
    font-family: 'Noto Sans SC', sans-serif;
    color: black;
    text-align: center;
  }

  h2 {
    font-family: 'Noto Sans SC', sans-serif;
    color: black;
    text-align: center;
  }

  p {
    font-family: 'Noto Sans SC', sans-serif;
    color: black;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
  }

  /*formatting for art images*/
  image {
    align-content: center;
    max-width: content;
    max-height: inherit;
  }

/*image for the header*/
header {
  display: flex;
  padding: 0rem;
  align-content: flex-start;
  width: 100%;
  height: 422px; /*height of joyland pic*/
}

/*for about and contact links at right side of page*/
.about {
  align-content: flex-end;
  text-align: right;
  vertical-align: top;
}

.contact {
  list-style-type: none;
  align-content: flex-end;
  text-align: right;
  vertical-align: bottom;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}

nav ul li {
  background: transparent;
  height: auto;
  width: auto;
  padding-top: 1rem;
  border-color: transparent;
  border: none;
  text-align: center;
}

nav ul li a {
  /*try to make active the pastel version of orange color// background be blue bar??? */
  text-decoration: underline;
  font-size: 1.2em;
  color: black;
}

/*link colors and font*/
a:link {
  font-family: 'Noto Sans SC', sans-serif;
  color: #b24100;
}

a:visited {
  font-family: 'Noto Sans SC', sans-serif;
  color: #E57433;
}

a:hover {
  font-family: 'Noto Sans SC', sans-serif;
  color: #6fc9c9;
}

a:active {
  font-family: 'Noto Sans SC', sans-serif;
  color: #319696;
}
