.pagecontainer {
  margin: auto;
  width: 90vw;
}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Noto Sans SC', sans-serif;
  color: black;
  text-align: center;
}

p {
  font-family: 'Noto Sans SC', sans-serif;
  color: black;
  text-align: center;
}

img {
  position: relative;
  max-width: 750px;
  height: auto;
  align-items: center;
}

a:link {
  font-family: 'Noto Sans SC', sans-serif;
  color: #000000;
  align: center;
}

a:visited {
  font-family: 'Noto Sans SC', sans-serif;
  color: #467F7F;
}

a:hover {
  font-family: 'Noto Sans SC', sans-serif;
  color: #6fc9c9;
}

a:active {
  font-family: 'Noto Sans SC', sans-serif;
  color: #b24100;
}

footer {
  font-family: 'Noto Sans SC', sans-serif;
  color: black;
  text-align: center;
}
